.navbar{
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.navbar__button{
    color: black;
}
.navbar__button:hover{
    color: black;
    background-color: rgb(134, 134, 134);
}

#register__form{
    position: absolute;
    top: 13vh;
    right: 45vw;
    padding: 10px;
    color: white;
}

#update__form{
    position: absolute;
    top: 13vh;
    right: 45vw;
    padding: 10px;
    color: white;
    align-items: center;
}

#delete__form{
    position: absolute;
    top: 38vh;
    right: 42vw;
    padding: 30px;
    color: white;
}

*{
    background-color: rgb(29, 29, 29);
}

.home__heading{
    position: absolute;
    top: 48vh;
    left: 40vw;
}

select{
    background-color: rgb(44, 44, 44);
    border-radius: 8px;
    text-align: center;
}
